*.swp
*.swo
.idea/
Kloak_*
todo.txt
compile_commands.json
cmake-build-debug/
build/
lib/ 
external/
deploy/__pycache__/
deploy/env/
deploy/logger_pb2.py
deploy/logger_pb2_grpc.py
tags*
.gdb_history
*.pyc

